version: 2

updates:
  - directory: "/"
    package-ecosystem: "pip"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
        - "*"
    cooldown:
      default-days: 7
  - directory: "/"
    package-ecosystem: "github-actions"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
        - "*"
    cooldown:
      default-days: 7
