[flake8]
docstring-convention=google
max_line_length=79
max-complexity = 7
show_source=true
count=true
ignore=
    ; Whitespace before ':'
    E203,
    W503
    ; Line break occurred before a binary operator
