repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-toml
  - hooks:
      - id: black
        language_version: python3
    repo: https://github.com/ambv/black
    rev: 20.8b1
  - hooks:
      - id: isort
        language_version: python3
    repo: https://github.com/timothycrosley/isort
    rev: 5.7.0
  - hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
          - flake8-docstrings
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
  - hooks:
      -  id: mypy
         language_version: python3
         additional_dependencies:
           - .[dev]
           - httpx  # for some reasons, httpx is not getting installed
           - typing_extensions
    repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.800'
  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      exclude: tests
  - repo: https://github.com/econchick/interrogate
    rev: 1.3.2
    hooks:
      - id: interrogate
        language_version: python3
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.8.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==20.8b1]
