name: Deploy Docs
on:
  push:
    branches: [main]

permissions:
  contents: write

env:
  FORCE_COLOR: "1"

jobs:
  docs:
    timeout-minutes: 5
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - uses: astral-sh/setup-uv@v7
      - run: uv pip install ".[docs]" --system
      - run: sphinx-build docs build/docs
      - name: Upload to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/docs/
