name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '5 1 * * *'  # every day at 01:05
  workflow_dispatch:
    inputs:
      fsspec:
        description: fsspec version to use?
        required: false
        default: default
        type: choice
        options:
        - default
        - upstream
        - lower-bound

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"

jobs:
  tests:
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        pyv: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.pyv }}
          allow-prereleases: true
          cache: 'pip'

      - run: python -m pip install --upgrade uv
      - run: uv pip install build ".[dev]" --system
      - if: ${{ github.event_name == 'schedule' || inputs.fsspec == 'upstream' }}
        run: uv pip install -e "fsspec @ git+https://github.com/fsspec/filesystem_spec.git" --system
      - if: ${{ github.event_name == 'lower-bound' }}
        run: uv pip install "fsspec==2021.7.0" --system
      - uses: pre-commit/action@v3.0.1
      - run: mypy
      - run: pip show fsspec
      - run: pytest --cov-report=term
      - run: python -m build
      - run: sphinx-build docs build/docs
        continue-on-error: ${{ matrix.pyv == '3.13' }}

  check:
    if: always()
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
