name: Release webdav4

on:
  release:
    types: [published]
  workflow_dispatch:

permissions: {}

env:
  FORCE_COLOR: "1"

jobs:
  build-and-publish:
    timeout-minutes: 5
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
            python-version: 3.14
      - uses: astral-sh/setup-uv@v7
      - run: uv build
      - if: github.event_name == 'release'
        run: uv publish
